{{#resume.basics}}
	<div class="flex items-center gap-8">
		{{#if image}}
		<div>
			<div class="bg-cover bg-no-repeat rounded-full h-36 w-36"
				style="background-image: url(&quot;{{image}}&quot;)">
			</div>
		</div>
		{{/if}}
		<div class="flex flex-col">
			<h1 class="text-4xl font-bold">{{name}}</h1>
			<p class="text-2xl py-2">{{label}}</p>
			{{#each location}}
				{{this}}{{#unless @last}}, {{/unless}}
			{{/each}}
			{{#if birthDate}}
			<div class="text-sm flex flex-row gap-2">
				<div>{{localDate birthDate}}</div>
			</div>
			{{/if}}
			<div class="text-sm flex flex-row gap-4">
				{{#if email}}
				<div class="flex flex-row items-center gap-1">
					<div><i class="align-middle bx bx-envelope text-base"></i></div><div>{{email}}</div>
				</div>
				{{/if}}
				{{#if url}}
				<div class="flex flex-row items-center gap-1">
					<div><i class="align-middle bx bx-world text-base"></i></div><div><a href="{{url}}">{{url}}</a></div>
				</div>
				{{/if}}
				{{#each profiles}}
				<div class="flex flex-row items-center gap-1">
					<div><i class="bx bxl-{{decapitalize network}} text-base"></i></div><div><a href="{{url}}">{{username}}</a></div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="my-8">
		<h2 class="text-2xl pb-1 border-b font-bold">About</h2>
	<p class="pt-4">{{summary}}</p>
	</div>
{{/resume.basics}}
